@green : #87c117;
@tan: #e3df98;
@white: #ffffff;

@charcoal: #444444;
@medium: #666666;
@lighttext: #aaa7a7;
@button: #d4d2d2;
@side: #edecec;
@body: #f7f7f7;

/**************** less: padding and margins *************/
.padding-top-bottom-large (@value: 60px){
	padding-top: @value;
	padding-bottom: @value;
}

.padding-top-bottom-medium (@value: 40px){
	padding-top: @value;
	padding-bottom: @value;
}

.padding-top-bottom-small (@value: 20px){
	padding-top: @value;
	padding-bottom: @value;
}

.padding-top-large(@value: 60px){
	padding-top: @value;
}

.padding-top-medium(@value: 40px){
	padding-top: @value;
}

.padding-top-small(@value: 20px){
	padding-top: @value;
}

.padding-bottom-large (@value: 60px){
	padding-bottom: @value;
}

.padding-bottom-medium (@value: 40px){
	padding-bottom: @value;
}

.padding-bottom-small (@value: 20px){
	padding-bottom: @value;
}

.padding-left-right-large(@value:60px){
	padding-left: 60px;
	padding-right: 60px;
}

.padding-left-right-medium(@value:40px){
	padding-left: 40px;
	padding-right: 40px;
}

.padding-left-right-small(@value:20px){
	padding-left: 20px;
	padding-right: 20px;
}



/**********************************
Global Assets
***********************************/
body{
	//background: url('../img/white-bg.png') repeat;
}

.body-content{
	.padding-top-bottom-medium;
}

h1,h2,h3,h4,h5,h6,p,small,em,a,strong,.large-number{
	font-family: 'proxima-nova', Helvetica;
}

.large-number{
	font-weight: bold;
}

li{
	list-style: none;
}

a{
	color: @green;
	.transitions;
	&:hover{
		color: @green*2/3;
		text-decoration: none;
	}
}

/*-- transitions --*/


/**********************************
Global LESS Mix-Ins
***********************************/

.letterpress-one{
	text-shadow: 0 1px 1px @white;
}

.letterpress-two{
	text-shadow: 0 1px 1px @white;
}

.transitions{
	-webkit-transition: all 0.1s ease-in-out;  
   	-moz-transition: all 0.1s ease-in-out;  
   	-o-transition: all 0.1s ease-in-out;  
   	transition: all 0.1s ease-in-out; 
}

/**********************************
Global Layout
***********************************/
#the-body{
	background:@side;
}


/**********************************
Global Bootstrap Edits
***********************************/

/*-- Buttons --*/
.btn{
	border-radius: 3px;
	border: none;
	box-shadow: none;
	text-shadow: none;
	padding: 10px 20px;
	background: @button;
	color: @charcoal;
	.transitions;
	&:hover{
		color: @white;
		background: @medium;
	}
}
.btn-green{
	background: @green;
	color: @white;
	text-shadow: none;
	font-family: "proxima-nova";
	&:hover{
		background: @green*2/3;
		color: @white;
	}
}
.btn-tan{
	background: @tan;
	&:hover{
		background: @tan*3/4;
		color: @charcoal;
	}
}
.btn-gray{
	background: @button;
}
.btn-danger{
	background: #9d261d;
	color: @white;
}

.btn-large{
	padding: 16px 36px;
}

/*-- Nav Pills --*/
.nav-pills{
	li a{
		border-radius: 3px;
		border: 1px solid @side;
		color: @medium;
	}
	li.active a{
		background: @medium;
		&:hover{
			background:@green;
		}
	}
}

/**********************************
Admin Bar
***********************************/
.navbar-inner{
	background: @charcoal;
	.form-search{
		margin-top: 10px;
	}
	.admin-prof{
		.btn{
			background: @charcoal;
			color: @white;
			text-shadow: none;
		}
		#profile-thumb{
			img{
				width: 24px;
				height: auto;
			}
		}
		a.dropdown-toggle{
			border-radius: none;
			&:active{
				border-radius: none;
			}
		}
		ul.dropdown-menu{
			li:hover a{
				background: @green;
			}
		}
	}
}

/**********************************
Profile Page 
***********************************/

#profile-header{
	//background: @tan;
	padding-bottom: 14px;
	.profile-image{
		border: 4px solid @white;
	}
}

ul#profile-action-buttons{
	li a{
		margin-bottom: 8px;
	}
	li a.btn-edit{
		padding: 10px 40px;
	}
}

ul#profile-snapshot{
	margin-top: -50px;
	padding-left: 230px;
	//display: inline-block;
	//background: @charcoal;
	background: url('../img/dark-pattern.png') repeat;
	li{
		border-left:1px solid rgba(255,255,255,0.1);
		border-right: 1px solid #000;
		display: inline-block;
		list-style: none;
		color: @lighttext;
		font-weight: 200;
		padding: 16px 24px;
		margin-left: -4px;
		text-align: center;
		text-shadow: 0 -1px 1px #000;
		.large-number{
			color: @tan;
			text-shadow: 0 -1px 1px #000;
			font-size: 1.6em;
		}
	}
	li:first-child{
		border-left:none;
	}
	li:last-child{
		border-right: none;
	}
	.membership{
		p{ margin: 0;text-align:left;}
	}
	.friends,.books-bought,.books-sold{
		p{
			text-transform: uppercase;
			font-weight: light;
		}
	}
}

#profile-body{
	background:@body;
	margin-top: -10px;
}
nav#profile-sidebar{
	background: @side;
	margin-left: 0px;
	ul.nav-list:first-child{
		padding-top: 74px;
	}
	ul.nav-list{
		.padding-top-bottom-medium;
		li.active a{
			background: @tan;
			box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
			border-top:none;
		}
		li a{
			color: @charcoal;
			font-weight: bold;
			padding: 8px 20px;
			border-top: 1px solid @white;
			border-bottom: 1px solid @lighttext;
			&:hover{
				background: @button;
				box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
			}
		}
		li:first-child a{
			border-top: none;
		}
		li:last-child a{
			border-bottom: none;
		}
	}
}
#profile-content{
	background: @body;
	margin-left: 0;
	margin-right: 0;
	padding-left: 30px;
	header{
		margin-right: -30px;
		background: @white;
		.padding-top-bottom-small;	
	}
	article{
		.padding-top-bottom-medium;
		table.activity{
			background: @white;
		}
	}
}

/**********************************
Inventory/Wishlist
***********************************/
#myModal{
	width: 700px;
	.modal-body{
		.primary-view{
			.padding-bottom-small;
			caption{
				.padding-bottom-small;
				ul.nav{
					margin-left: 200px;
				}
			}
		}
		.secondary-view{
			caption{
				.padding-bottom-small;
			}
		}
	}
}

/**********************************
Inventory/Wishlist
***********************************/

.accordion{
	background: @white;
	.accordion-heading{
		font-size: 1.3em;
		padding: 20px 10px;
	}
}

/**********************************
Transaction/Message Page
***********************************/

/*-- Main Body --*/

.pull-up{
	margin-top: -40px;
}

header{
	background: @white;
	.padding-top-medium;
	img{
		vertical-align: bottom;
	}
}

#message-input{
	//background: @charcoal;
	background: url('../img/dark-pattern.png') repeat;
	.padding-top-bottom-small;
	textarea{
		box-shadow: inset 0 -10px 30px rgba(0,0,0,0.2);
		margin: 40px 0;
		display: block;
		width: 90%;
		height: 100px;
		border-bottom: 1px solid rgba(255,255,255,0.3);
	}
}

#message-chat{
	background: @body;
	.message-box{
		margin: 40px 30px 40px 0;
		padding-left: 5px;
		border: 1px solid @lighttext;
		.user-me{
			background: @white;
		}
	}
}


/*-- Sidebar --*/
#transaction-sidebar{
	.letterpress-two;
	background: @side;
	margin-left: 0;
	padding: 15px;
	a.xbook, .center{
		margin: 0 auto;
		display: block;
		width: auto;
	}
	.book-list{

		.box{
			//border-top: 1px solid rgba(0,0,0,0.3);
			border:1px solid rgba(0,0,0,0.3);
			border-radius: 3px;
			background: @white;
			max-height: 250px;
			overflow: scroll;
			overflow-x: hidden;
			margin-bottom: 10px;
			li.book-asset{
				background: @side;
				border-bottom: 1px solid @lighttext;
				border-radius: 0;
				//border-left: 12px solid @green;
				border-top: 1px solid @white;
				clear: both;
				display: inline-block;
				margin-top: -5px;
				margin-left: -20px;
				max-height: 95px;
				width: 100%;
				.letterpress-one;
				.book-thumb{
					width: 50px;
					float: left;
				}
				.book-description{
					width: 250px;
					float: right;
					p{
						color: @medium;
					}
					em{
						font-size: 0.8em;
					}
				}
			}
			li.book-asset:hover{
				background: @button;
			}
		}
	}
	article.logistics{
		form{
			input{
				padding: 20px;
				width: 85%;
				font-size: 1.4em;
			}
			button{
				margin-bottom: 20px;
			}
			button.confirm{
				width: 100%;
				padding: 15px;
			}
		}
	}
}

/**********************************
Find Books Page
***********************************/
form.find-books-form{
	button{
		padding: 5px 10px;
	}
}

.scrollbox{
	border: 1px solid @lighttext;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: scroll;
	max-height: 200px;
	ul{
		li a{
			color: @charcoal;
		}
		li:nth-child(even) a{
			background: @body;
			&:hover{
				background: @side;
			}
		}
	}
}

ul.course-listing{
	position: relative;
}

li.back a{
	background: @tan;
	border-bottom: 1px solid @side;
	&:hover{
		background: @button;
	}
}

.find-nav, .select-box, .added-asset{
	border-top: 5px solid @charcoal;
	padding-top: 20px;
	margin-bottom: 20px;
}


/*-- icon animation --*/
.icon{
	display: none;
}

.book-asset-hor:hover .icon{
	display: block;
}



/**********************************
The Book Assets
***********************************/

/***
1. Tall Block (standard)
2. Horizontal Block
***/

/*-- Standard/Tall --*/
.book-asset{
	background: @white;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid @button;
	.book-description{
		padding-top:10px;
		min-height: 140px;
		h5,p{
			line-height:1.1em;
			margin:1px 0px;
		}

	}
	a.btn{
		margin: -5px;
		display: block;
	}
}

.xbook{
	text-align: center;
}

/*-- Horizontal --*/
.book-asset-hor{
	background: @side;
	border-bottom: 1px solid @lighttext;
	border-radius: 0;
	border-top: 1px solid @white;
	clear: both;
	display: inline-block;
	margin-top: -5px;
	// margin-left: -20px;
	margin-left:0;
	margin-right:0;
	min-height: 95px;
	width: 100%;
	.letterpress-one;
	.book-thumb{
		padding-top: 10px;
		padding-left: 10px;
		width: 50px;
		float: left;
	}
	.book-description{
		margin-left: 10px;
		width: 200px;
		float: left;
		h5,p,em{
			line-height:1.0em;
		}
		p{
			color: @medium;
			margin: 1px;
		}
		em{
			font-size: 0.8em;
		}
	}
	.icon{
		float:right;
		width: 50px;
		margin-top:30px;
		text-align: center;
	}
}
.book-asset-hor:first-child{
	margin-top:0;
}
.book-asset-hor:hover{
	background: @button;
	cursor: pointer;
}

/**********************************
Landing Page
***********************************/
.navbar-inner{	
	.landing-nav{
		li.active a{
			background: @charcoal;
			color: @white;
			font-weight: bold;
		}
		li a{
			color: @white;
			text-shadow: none;
			margin-left: 15px;
		}
		li a.btn{
			&:hover{
				color: @white;
				background: @green * 2/3;
			}
		}
	}
}

#landing-masthead{
	background: #f1f9dd;
	.padding-top-bottom-large;
	h1{
		font-size: 5.0em;
		.padding-bottom-large;
	}
	.info{
		.padding-top-bottom-medium;
		a.facebook{
			color: @white;
			background: #3B5998;
			&:hover{
				background: #2d477e;
			}
		}
	}
	.learn-more{
		padding-top: 120px;
		text-align: center;
		margin: 0 auto;
	}
}

    /* MARKETING CONTENT
    -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Featurettes (Bootstrap)
------------------------- */

#landing-features{
	padding-top: 40px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/**********************************
About, FAQs, The Market, Contact
***********************************/    
nav#info{
	background: @side;
	margin-left: 0px;
	ul.nav-list:first-child{
		padding-top: 4px;
	}
	ul.nav-list{
		.padding-top-bottom-medium;
		li.active a{
			background: @tan;
			box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
			border-top:none;
		}
		li a{
			color: @charcoal;
			font-weight: bold;
			padding: 8px 20px;
			border-top: 1px solid @white;
			border-bottom: 1px solid @lighttext;
			&:hover{
				background: @button;
				box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
			}
		}
		li:first-child a{
			border-top: none;
		}
		li:last-child a{
			border-bottom: none;
		}
	}
}

/**********************************
Footer
***********************************/
#footer{
	background: @side;
	.padding-top-large;
	.padding-bottom-small;
	img{
		.padding-bottom-small;
	}
	p a{
		&:hover{
			text-decoration: underline;
		}
	}
	ul{
		.padding-bottom-medium;
	}
	a{
		color:#888;
		&:hover{
			color:@charcoal;
		}
	}
}
